img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

/* The Modal (background) */
#image-viewer {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: 100%;
}
.modal-content { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

#image-viewer .left-arrow{
    opacity: 0.5;
    width: 40px;
    height: 40px;
    background: url(../rs-plugin/assets/arrow_large_left.png) no-Repeat 0 0;
    left: 2px;
    position: absolute;
    z-index: 1;
}

#image-viewer .right-arrow{
    opacity: 0.5;
    width: 40px;
    height: 40px;
    background: url(../rs-plugin/assets/arrow_large_right.png) no-Repeat 0 0;
    right: 2px;
    position: absolute;
    z-index: 1;
}

#image-viewer .right-arrow:hover,
#image-viewer .right-arrow:focus,
#image-viewer .left-arrow:hover,
#image-viewer .left-arrow:focus {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
#image-viewer .close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
#image-viewer .close:hover,
#image-viewer .close:focus {
    color: var(--primary-color-2);
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        margin: auto;
        width: 100%;
        height: auto;
    }
}